@import  "vars", "base";

.header {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  padding: 24px 42px;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
  h1 {
    margin: 0;
  }
	nav {
    flex-grow: 1;
    position: relative;
  }
  @media (max-width: 1000px) {
    padding: 24px 15px;
  }
}

.logo {
  display: block;
  img {
    display: block;
  }
}

.head-nav {
  display: flex;
  font-size: 18px;
	list-style-type: none;
	margin: 0;
  padding: 0 0 0 6%;
  position: relative;
  z-index: 1;
  @media (max-width:1000px) {
    padding: 0 0 0 15px;
  }
  >li {
    border-top: 2px solid transparent;
    margin: 0 20px;
    padding: 10px 0;
    position: relative;
    transition: border-color $transition_duration;
    @media (max-width:1000px) {
      margin: 0 15px;
    }
    &:first-child {
      color:#0079c2;
    }
    &:nth-child(2) {
      color: #f57b20;
    }
    &:nth-child(3) {
      color: #ec519d;
    }
    &:nth-child(4) {
      color: #50b948;
    }
    &:nth-child(5) {
      color: #00bce4;
    }
    &:last-child {
      color: #8e499b;
      position: absolute;
      right: 0;
    }
    &:hover {
      border-color: #3b3b3b;
    }
    &.active {
      border-color: #3b3b3b;
    }
    a {
      color: inherit;
      display: block;
      position: relative;
      text-decoration: none;
    }
  }
}

li.drop-down {
  cursor: pointer;
  position: relative;
  @media (min-width: 901px) {
    &:hover>.drop-down-menu {
      height: auto;
      max-height: 600px;
      visibility: visible;
    }
    &:hover>a>.arrow-down {
      transform: translateY(-50%) rotate(0deg);
    }
  }
  @media (max-width: 900px) {
    &.active > a {
      background-color: #eee;
    }
    &.active>.drop-down-menu {
      height: auto;
      max-height: 600px;
      visibility: visible;
    }
    &.active>a>.arrow-down {
      transform: translateY(-50%) rotate(0deg);
    }
  }
}

.drop-down-menu {
  background-color: #3b3b3b;
  height: 0;
  list-style-type: none;
  margin: 0;
  max-height: 0px;
  opacity: 0.9;
  padding: 10px 0;
  position: absolute;
  transition: max-height $transition_duration ease;
  visibility: hidden;
  width: 240px;
  z-index: 2;
  >li {
    color: #fff;
    padding: 0;
    position: relative;
    >a {
      padding: 10px 40px 10px 25px;
      &:hover {
        background-color: #1b1b1b;
      }
    }
  }
}

.drop-down-menu-item {
  @media (min-width: 901px) {
    &:hover .drop-down-menu-right {
      height: auto;
      max-height: 600px;
      visibility: visible;
    }
  }
  @media (max-width: 900px) {
    &.active > a {
      background-color: #eee;
    }
    &.active .drop-down-menu-right {
      height: auto;
      max-height: 600px;
      visibility: visible;
    }
    &.active>a>.arrow-right {
      transform: translateY(-50%) rotate(180deg);
    }
  }
}

.arrow {
	height: auto;
  position: absolute;
  top: 50%;
  transform-origin: 50% 50%;
  transition: transform  $transition_duration ease;
	path {
		fill: transparent;
		stroke: currentColor;
    stroke-width: 120;
	}
}
.arrow-down {
  right: -20px;
  width: 15px;
  transform: translateY(-50%) rotate(180deg);
}
.arrow-right {
  right: 15px;
  width: 15px;
  transform: translateY(-50%) rotate(90deg);
}

.drop-down-menu-right {
  max-height: 0;
  left: calc(100% + 1px);
  position: absolute;
  top: 0;
  transition: max-height  0.25s ease;
}
