.sandwich {
  background-size: 100% 100%;
  cursor: pointer;
  display: none;
	height: 20px;
  position: fixed;
  right: 30px;
  top: 30px;
	width: 25px;
	z-index: 6;
}

.sandwich-open {
  background: url(../images/combined-shape.z.svg) no-repeat center;
}

.sandwich-x {
  background: url(../images/combined-shape-x.z.svg) no-repeat center;
}

@media (max-width: 900px) {
	.header {
    .head-nav-container {
      position: fixed;
      left: 0;
      height: auto;
      max-height: calc(85vh - 79px);
      overflow-y: auto;
      top: 79px;
      width: 100%;

      .head-nav {
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15);
        display: none;
        flex-wrap: wrap;
        height: auto;
        overflow: hidden;
        padding: 0;
        width: 100%;
        >li {
          border-top: 2px solid transparent;
          flex-basis: 100%;
          margin: 0;
          padding: 0;
          text-align: center;
          &:last-child {
            position: static;
          }
          &:hover {
            border-color: transparent;
          }
          a {
            border-top: 1px solid rgba(0, 0, 0, 0.15);
            padding: 10px 10px 10px 30px;

          }
          &:last-child a {
              border-bottom: 1px solid rgba(0, 0, 0, 0.15);
          }
        }
      }

      .drop-down-menu {
        background-color: #fff;
        padding: 0;
        position: relative;
        text-align: left;
        top: 10px;
        width: 100%;
        li {
          a {
            border: none;
            color: #5e5e5e;
            padding-left: 25px;
            &:hover {
              background-color: #eee;
            }
          }
        }
      }

      .drop-down-menu-right {
        position: relative;
        left: 0;
        top: 0;
        li {
          a {
            padding-left: 50px;
          }
        }
      }
    }

    .arrow-down {
      right: 20%;
    }
    .arrow-right {
      right: 10%;
      @media (max-width: 360px) {
        right: 15px;;
      }
    }
		.sandwich {
			display: block;
		}
	}
}

@media (min-width:901px) {
  body {
    overflow-y: auto !important;
    position: inherit !important;
  }
  .head-nav {
    display: flex !important;
  }
}