@import  "menu", "mob-menu", "main";

main {
  section{
    h2 {
      color: #00bce4;
    }
    h3 {

    }
  }
}

.h3-color {
  color: #85c9e9;
}

.flex-box {
  display: flex;
  flex-wrap: wrap;
}
.flex-box-item {
  flex-basis: 50%;
  @media (max-width: 1000px) {
    flex-basis: 100%;
    min-height: 300px;
  }
}
.empty {
  background-color: #d8d8d8;
  border: solid 1px #979797;
  margin: 18px 0;
}

.btn-box {
  margin-top: 50px;
}
.btn {
  background-color: rgba(57, 57, 57, 0.9);
  @media (max-width: 700px) {
    margin: 10px auto;
  }
  &:hover {
    background-color: rgba(57, 57, 57, 0.8);
  }
  a {
    font-size: 18px;
    font-weight: bold;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .arrow {
    top: 49%;
  }
}
.btn-right {
  a { padding-right: 30px; }
  .arrow-left {
    right: 10px;
    transform: translateY(-35%) rotate(90deg);
  }
}